h1{
    color: black;
    background-color: rgb(120, 122, 124);
}
#p-01{
    background-color: rgb(55, 143, 194);
}
#p-02{
    background-color: rgb(127, 255, 234);
}
#p-03{
    background-color: rgb(127, 255, 185);
}
    
#p-04{
    background-color: rgb(255, 246, 127);
}