h1{
    color: black;
    background-color: rgb(244, 245, 192);
}
#p-01{
    background-color: rgb(255, 127, 127);
}
#p-02{
    background-color: rgb(255, 246, 127);
}
#p-03{
    background-color: rgb(127, 255, 127);
}
    
#p-04{
    background-color: rgb(76, 99, 226);
}